body{
    margin: 0px;
    padding: 0px;
    background-color: #f0f0f0;
    overflow-x: hidden;
}
/*Header*/
header{
    display: flex;
    width: 100vw;
    height: 80px;
    justify-content: space-evenly;
    background-color: #ffffff;
}
header>img{
    width: 150px;
    height: 50px;
    align-self: center;
}
header>#search{
    align-self: center;
}
header>#search>input{
    width: 300px;
    height: 30px;
    border-radius: 10px;
    border: 2px solid gray;
}
header>#search>button{
    padding: 8px;
    width: 80px;
    background-color: orange;
    border-radius: 5px;
    border: 2px solid rgb(212, 139, 4);
    color: #ffffff;
}
header>ul{
    list-style-type: none;
    display: flex;
    column-gap: 30px;
}
header>ul>li>button{
    padding: 8px;
    width: 80px;
    border-radius: 5px;
    color: #ffffff;
    background-color: blue;
    border: 2px solid rgb(7, 7, 95);
}
header button:hover{
    cursor: pointer;
}
/*Main*/
#item{
    display: flex;
    justify-content: space-evenly;
    height: 140px;
    width: 95%;
    margin: 15px auto;
    background-color: #ffffff;
}
.itemDiv{
    height: 120px;
    align-self: center;
}
.itemDiv>p{
    margin: 0px;
    text-align: center;
    font-size: large;
}
#imageContainer{
    width: 95%;
    height: 200px;
    margin: 15px auto;
}
#imageContainer>img{
    width: 100%;
    height: 100%;

}
#imageContainer2{
    display: flex;
    justify-content: space-between;
    width: 95%;
    height: 250px;
    margin: 15px auto;
}
#imageContainer2>img{
    width: 470px;
    height: 100%;
}
#mainContainer{
    width: 95%;
    margin: 15px auto;
    background-color: #ffffff;
}
#mainContainer>h3{
    text-align: center;
    padding-top: 30px;
    font-weight: bold;
    font-size: 24px;
}
#subContainer{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content:space-around;
}
.productItem{
    width: 250px;
    height: 270px;
    border: 1px solid rgb(238, 230, 230);
    display: grid;
    place-items: center;
}
.productItem>img{
    width: 80%;
    height: 220px;
    margin: 10px auto;
    align-self: center;
}
.productItem>p{
    margin: 0px;
    font-weight: 500;
    text-align: center;
}
/*Footer*/
footer{
    background-color: black;
}
#footerSection{
    display: flex;
    justify-content: space-evenly;
}
#footerSection>ul{
    list-style-type: none;
}
#footerSection>ul>li{
    color: #ffffff;
    text-align: center;
    padding: 10px;
}
#footerSection>ul>li:first-child{
    color: gray;
    font-size: 18px;
    padding-bottom: 15px;
}
#footerSection>ul>li:hover{
    text-decoration: underline;
}
footer>p{
    color: #ffffff;
    text-align: center;
    margin: 0px;
    padding: 10px;
}